<article>

  <section class="container-post-id">
    <div class="dflex-saround">
      <h3>Post # <%= @post.id %> by <%= @post.author.name %><h3>
      <div>
        <span>Comments: <%= @post.comments_counter %></span>
        <span>Likes: <%= @post.likes_counter %></span>
      </div>
    </div>

    <div class="post-title-id">
      <h2><%= @post.title %></h2>
    </div>

    

    <%= form_with model: [@post, @like], url: create_post_like_path  do |form| %>
      <div class="mb-4 flex flex-col">
        <%= form.submit "Like ðŸ‘" , class: "likes" %>
      </div>
    <% end %>

  
  </section>

  <section>

    <div class="comments-container">
      Comments: 
        <div class="flex-column">
        <% @comments.each do |comment| %>
          <span><%= comment.author.name %> : <%= comment.text %></span> 
          <% if can? :destroy, comment %>
             <%= button_to "Delete Comment", comment_destroy_path(@post.author_id, @post, comment), method: :delete, class: "button" %>
           <% end %>
        <% end %> 
        </div>
     
    </div>

  </section>

  <section class="button-container">
   

    <% if @users.id == current_user.id %>
    <button class="button">
        <%= link_to "Create post", new_user_post_path(@users), class: "button" %>
    </button>
<% end %>



    <button class="button ">
    <%= link_to "Add comment", "/users/#{@post.author_id}/posts/#{@post.id}/comments/new", class: "button"%>
    </button>

    <button class="button ">
    <%= link_to "Back", user_posts_path(@users), class: "button" %>
    </button>

  </section>

</article>